.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

/* workouts page */
.workouts-page-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

.workouts-card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}



